/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Montserrat;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.admin-page {
  padding: 30px 50px;
}

.search {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 15px 0;
  font-size: 30px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.empty {
  font-size: 25px;
  text-align: center;
  flex: 1;
}

.pl-item {
  padding: 15px;
  flex: 1 1 100%;
}

.pl-item-inner {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  max-height: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pli-title {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .pl-item {
    flex: 1 1 33.333333%;
  }
  .pl-item-inner {
    height: 300px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .pl-item {
    flex: 1 1 50%;
  }
  .pl-item-inner {
    height: 300px;
  }
}

@media only screen and (min-width: 1224px) {
  .pl-item {
    flex: 1 1 25%;
  }
  .pl-item-inner {
    height: 300px;
  }
}

@media only screen and (min-width: 1590px) {
  .pl-item {
    flex: 1 1 20%;
  }
  .pl-item-inner {
    height: 300px;
  }
}
